<nav class="nav">
    <ul>
        <li><a href="/cate">Cate</a></li>
        <li><a href="/connect4">Connect4</a></li>
        <li><a href="/hamburger">Hamburger</a></li>
        <li><a href="/Ticker">Ticker</a></li>
    </ul>
</nav>
